<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alavadeiraapp.com.example.maiconh.alavadeiraapp">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/ThemaAlavadeira"
        android:label="@string/app_name">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity Login -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

        </activity>

        <!-- Activity Notificaçoes -->
        <activity
            android:name=".NotificationsActivity"
            android:label="@string/notificacoes"
            android:parentActivityName=".EntregasActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="alavadeiraapp.com.example.maiconh.alavadeiraapp.EntregasActivity" />
        </activity>

        <!-- Activity Entregas -->
        <activity
            android:name=".EntregasActivity"
            android:label="@string/entregas"
            android:theme="@style/ThemaAlavadeira.NoActionBar" />

        <!-- Activity AssinantesEndereco -->
        <activity
            android:name=".AssinantesEnderecoActivity"
            android:label="@string/assinantesEnd"
            android:parentActivityName=".EntregasActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="alavadeiraapp.com.example.maiconh.alavadeiraapp.EntregasActivity" />
        </activity>

        <!-- Activity Assinante -->
        <activity
            android:name=".AssinanteActivity"
            android:parentActivityName=".AssinantesEnderecoActivity"
            android:configChanges="keyboardHidden|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="alavadeiraapp.com.example.maiconh.alavadeiraapp.AssinantesEnderecoActivity"/>

        </activity>
    </application>

</manifest>